<%- include('../../components/header.ejs') %>
    <div class="container">

        <div class="row">

            <div class="col-lg-6 col-md-8 col-sm-10 col-xxl-4">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title">Inicio de sesi칩n</h5>
                        <form method="post" action="">
                            <% if (errors) { %>
                                <div class="alert alert-warning">
                                    <%= errors.message%>
                                </div>
                                <% } %>
                                    <div class="mt-2">
                                        <label>Email</label>
                                        <input required class="form-control" type="email" name="email"
                                            placeholder="Email">
                                        <%if (errors?.email) {%>
                                            <div class="error-label">
                                                Por favor ingrese un email
                                            </div>
                                            <% } %>
                                    </div>
                                    <div class="mt-2"></div>
                                    <label>Password</label>
                                    <input required class="form-control" type="password" name="password"
                                        placeholder="Ingrese la contrase침a">
                                    <%if (errors?.password) {%>
                                        <div class="error-label">
                                            Por favor ingrese una contrase침a
                                        </div>
                                        <% } %>
                                            <div class="mt-2">
                                                <input class="btn btn-primary" type="submit" value="Iniciar Sesi칩n">
                                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/footer.ejs') %>